<ion-content #content [scrollEvents]="true" fullscreen="true">
  <ion-header translucent="false">
    <ion-toolbar>
      <ion-list>
        <ion-item lines="none" (click)="openAddressModal()" color="white">
          <ion-icon name="cart-outline" class="cart-icon"></ion-icon>
          {{ currentLocationAddress }}
        </ion-item>
      </ion-list>
    </ion-toolbar>
  </ion-header>

  <!-- insert content here -->
  <div *ngIf="hasFavouriteStore">
    <h4 class="title">Favourite Stores</h4>
    <ion-slides [options]="slideOpt">
      <ion-slide *ngFor="let store of stores">
        <store [store]="store" (click)="loadProducts(store.id)"></store>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <h4 class="title">Selected for you</h4>
    <ion-slides [options]="slideOpt">
      <ion-slide *ngFor="let store of stores">
        <store [store]="store" (click)="loadProducts(store.id)"></store>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <h4 class="title">For a special occasion</h4>
    <ion-slides [options]="slideOpt">
      <ion-slide *ngFor="let store of stores">
        <store [store]="store" (click)="loadProducts(store.id)"></store>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreStores($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more stores...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" [hideOnscroll]="content">
    <ion-fab-button color="primary" (click)="openFiltersModal()">
      <ion-icon name="options-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>