page-products {
    .product-card{
        ion-card {
            position: relative;
            text-align: center;
            height: 230px;
            width: 150px !important;
            border-radius: 3%;
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
            display: inline-block;
        }

        .product-img {
            display: inline-block;
            width: 80%;
        }

        ion-badge {
            position: absolute;
            top: 3px;
            right: 3px;
            font-size: 10px;
        }

        .product-name {
            width: 100%;
        }
    }
}
