<ion-header #head>
  <ion-navbar no-border-bottom>
    <ion-title>Products</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar showCancelButton placeholder="Search product" [(ngModel)]="productName" [showCancelButton]="shouldShowCancel"
      (ionInput)="filterProducts($event)" [debounce]="500">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content auto-hide hide-header [header]="head">
  <ion-list>
    <ion-row wrap>
      <ion-col col-6 *ngFor="let item of items" class="product-card">
        <ion-card (click)="presentCheckoutModal(item)" center>          
          <ion-badge *ngIf="item.quantity > 0" color="danger">{{ item.quantity }}</ion-badge>          
          <ion-card-content>
            <img class="product-img" [src]="item.imageUrl" />
          </ion-card-content>
          <ion-item text-center text-wrap>
            <h2 style="color:green;">{{ item.price }} €</h2>
            <h5 class="product-name"><b>{{ item.name }}</b></h5>
            <ion-note><b>{{ item.weight }}</b></ion-note>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)" loadingSpinner="bubbles" loadingText="Loading more products...">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- filters button -->
  <ion-fab bottom center #fab>
    <button ion-fab (click)="showFilters()">
      <ion-icon name="funnel"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="showCheckout">
  <ion-toolbar>
    <ion-row>
      <ion-col col-2>
        <h2>{{ basketItems | number:'1.0-0'}}</h2>
      </ion-col>
      <ion-col col-6>
        <button ion-button full (click)="viewBasket()">View Basket</button>
      </ion-col>
      <ion-col>
        <h2>{{ basketTotalAmount | number:'1.2-2'}}€</h2>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>