page-select-store {
    
    .vertical-align-content > *
    {
         display: flex!important;
         align-content: center!important;
         align-items: center!important;
    }

    .card-background-page {
      
        ion-card {
            position: relative;
            text-align: center;
            height: 180px;
            width: 300px !important;
            border-radius: 3%;
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        }

        img {
            margin: auto;
            height: 180px;
            width: 100%;
        }
    }
}
